* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

.box1 {
	background: black;
}
.box2 {
	background: black;
}
.box3 {
	background: blue;
}
.box4 {
	background: yellow;
}
.box5 {
	background: green;
}
.box6 {
	background: pink;
}
.box7 {
	background: teal;
}
.box8 {
	background: black;
}
.box9 {
	background: brown;
}
.box10 {
	background: purple;
}

.container {
	display: flex;
	align-content: flex-start;
	justify-content: center;
	flex-wrap: wrap;
	min-height: 100vh;
}

.box {
	color: white;
	font-size: 100px;
	text-align: center;
	padding: 10px;
	width: 25%;
}

.box1 {
	width: 100%;
}

.box2 {
	width: 100%;
	font-size: 15px;
	padding: ;
}

nav li {
	display: inline-flex;
	padding: 5px 40px;
	font-size: 18px;
}

a {
	text-decoration: none;
}

a:visited {
	color: white;
	text-decoration: none;
}
